<app-nav-header></app-nav-header>
<div id="quiz-creation-page">
    <div class="main-container">
        <div class="flex-row fields-container">
            <form [formGroup]="formGroup" class="flex-column quiz-edit-form" (ngSubmit)="submitQuiz()">
                <h3 class="header-item">Création de Quiz</h3>
                <mat-form-field id="text-editables" class="flex-column">
                    <mat-label>Titre du Quiz</mat-label>
                    <input matInput id="title" type="text" class="text-edit" placeholder="Votre titre ici" formControlName="title" required />
                </mat-form-field>
                <mat-form-field id="text-editables" class="flex-column">
                    <mat-label>Description du Quiz</mat-label>
                    <textarea
                        matInput
                        id="description"
                        class="text-edit"
                        placeholder="Votre description ici"
                        formControlName="description"
                        required
                    ></textarea>
                </mat-form-field>
                <div class="flex-column slider-container">
                    <label>Durée du Quiz</label>
                    <div class="flex-row">
                        <label>10</label>
                        <mat-slider matInput id="duration" min="10" max="60" step="1" discrete required>
                            <input matSliderThumb formControlName="duration" />
                        </mat-slider>
                        <label>60</label>
                    </div>
                </div>

                <div id="questions-container" class="flex-column">
                    <label>Questions</label>
                    <app-question-list
                        id="question-list"
                        [questions]="questionsContainer"
                        [interactionService]="questionInteractionService"
                        [options]="{ share: true, create: true, edit: true, delete: true, drag: true, numberOrder: true }"
                    ></app-question-list>
                </div>
                <button id="submit-quiz" (mouseUp)="submitQuiz()" mat-flat-button>Enregistrer</button>
            </form>
        </div>
        <div class="question-bank-wrapper">
            <div>
                <app-question-bank [options]="{ share: true }"></app-question-bank>
            </div>
        </div>
    </div>
</div>
