.header-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

#editable-textfields-containers {
    justify-content: space-evenly;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.fields-container{
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

::ng-deep .add-icon {
    align-self: center;
    color: black;
    margin: 20px;
}

#questions-container {
    width : 100%;
    justify-content: center;
    align-items: center;
}

#description {
    overflow-y: scroll;
    resize: none;
}

.quiz-edit-form{
    max-width: 500px;
    margin: 20px;
    width: 100%;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

#quiz-creation-page {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

#quiz-creation-page > * {
    padding: 0px 20px;
}

form {
    align-items: center;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-fg-color);
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
}

.slider-container{
    margin: 10px;
    justify-content: center;
    align-content: center;
}

.slider-container label{
    text-align: center;
}

.slider-container{
    justify-content: center;
    align-content: center;
}

.slider-container label{
    text-align: center;
}

#text-editables {
    width: 100%;
    justify-content : space-evenly;
}

.hidden {
    visibility: hidden;
}

app-question-list {
    display: contents;
    width: 100%;
    justify-self: center;
}


.question-bank-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

h3 {
    margin: 15px;
}

.header {
    height: 100px;
}

app-question-bank{
    justify-self: center;
    margin: 20px;
}

.main-container {
    max-width: 1100px;
    width: 100%;
    display: flex;
}

#submit-quiz {
    border-radius: 15px;
    margin: 15px;
    outline: solid black;
}
