<div class="container" *ngIf="player && question">
    <div class="question-box font-color">
        <span id="questionText" class="text-centered">{{ question.text }}</span>
        <span id="value" class="text-centered"><strong>{{ question.points }} points</strong></span>
    </div>
    <div class="answers-grid font-color">
        <div *ngFor="let choice of question.choices; index as i" [ngClass]="{
                'highlight-selected': selectedChoiceIndexes.includes(i),
                'answer-box': true,
                'answer-box1': (i + 1) % 4 === 1,
                'answer-box2': (i + 1) % 4 === 2,
                'answer-box3': (i + 1) % 4 === 3,
                'answer-box4': (i + 1) % 4 === 0
            }" [class.highlight-validated]="hasSubmited && selectedChoiceIndexes.includes(i)"
            (click)="toggleSelectChoice(i)" [class.disable-click]="hasSubmited">
            {{ i + 1 }}. {{ choice.text }}
            <!-- <span *ngIf="questionValidated && choice.isCorrect && isTest" class="correct-answer-mark">✔</span> -->
        </div>
        <div class="timer-wrapper">
            <app-timer-component></app-timer-component>
        </div>
    </div>
    <div class="buttons-wrapper">
        <button mat-flat-button id="validateButton" class="game-button" [class.disable-click]="hasSubmited"
            (click)="submitChoices()">
            Valider <i class="fas fa-check-circle"></i>
        </button>
        <button button mat-flat-button color="warn" id="giveUpButton" class="game-button"
            (click)="openConfirmationDialog()">Abandonner</button>
    </div>
    <div id="score" class="text-centered">Votre score: {{ player.score }} points</div>
</div>
