.content-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.timer-wrapper-transition {
    position: absolute;
    top: -54px;
    left: 50%;
    transform: translateX(-50%);
}

.timer-wrapper-host {
    position: absolute;
    top: -5%;
    left: 2%;
}

.text-wrapper-transition {
    height: 200px;
    width: 66%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-fg-color);
    background-color: var(--secondary-bg-color);
    border-radius: 15px;
}

.text-wrapper-host {
    height: fit-content;
    max-height: 100px;
    width: 66%;
    overflow: auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-fg-color);
    background-color: var(--secondary-bg-color);
    border-radius: 15px;
}

h2 {
    text-align: center;
}
