<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<img class="logo" src="/assets/img/logo.png" alt="Logo Projet" />
<div class="container">
    <div class="game-area">
        <app-game [quiz]="quiz" [isTest]="isTest"></app-game>
    </div>
    <div class="right-panel">
        <div class="chat-room">
            <div class="messages-zone font-color text-centered">
                <h3>Salon de clavardage</h3>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Message</mat-label>
                <textarea matInput class="write-message" placeholder="Envoyer un message"> </textarea>
            </mat-form-field>
        </div>
    </div>
</div>
