<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<div class="container">
    <app-nav-header [isActive]="false"></app-nav-header>
    <span *ngIf="isTest" class="test-mode">MODE TEST</span>
    <div
        [ngClass]="{
            'game-container': hasStarted && !isStarting && !isLoadingNextQuestion,
            hidden: !hasStarted || isStarting || isLoadingNextQuestion
        }"
    >
        <div class="game-area">
            <app-qrl-board [pin]="pin" [isTest]="isTest"></app-qrl-board>
            <app-qcm-board [pin]="pin" [isTest]="isTest"></app-qcm-board>
        </div>
        <div *ngIf="!isTest" class="right-panel">
            <app-chat-room [pin]="pin"></app-chat-room>
        </div>
    </div>
    <div class="transition-container">
        <app-game-transition [pin]="pin" [displayOptions]="{ transitionalOnly: true }"></app-game-transition>
    </div>
    <div class="" *ngIf="isTest && !isStarting && !isLoadingNextQuestion">
        <div class="buttons-wrapper">
            <button class="start-button" *ngIf="!hasStarted" mat-raised-button (click)="startGame()">Commencer la partie</button>
            <button class="next-button" mat-raised-button *ngIf="currentQuestionHasEnded && !isLastQuestion" (click)="nextQuestion()">
                Question Suivante
            </button>
            <button class="next-button" mat-raised-button *ngIf="currentQuestionHasEnded && isLastQuestion" (click)="endGame()">
                Terminer la partie
            </button>
        </div>
    </div>
</div>
