<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<img class="logo" src='/assets/img/logo.png' alt="Logo Projet" />
<div class="container">
    <div class="game-area" *ngIf="currentQuestionIndex >= 0">
        <div class="question-box font-color">
            <span class="text-centered">{{ questions[currentQuestionIndex].text }}</span>
            <span class="text-centered"><strong>{{ questions[currentQuestionIndex].points }} points</strong></span>
        </div>
        <div class="answers-grid font-color">
            <div *ngFor="let choice of questions[currentQuestionIndex].choices; index as i" [ngClass]="{
                'highlight-selected': isSelected(choice),
                'answer-box': true,
                'answer-box1': (i + 1) % 4 === 1,
                'answer-box2': (i + 1) % 4 === 2,
                'answer-box3': (i + 1) % 4 === 3,
                'answer-box4': (i + 1) % 4 === 0
                }" (click)="toggleChoiceSelection(choice)">
                {{ i + 1 }}. {{ choice.text }}
            </div>
            <div class="circle">
                <span>{{ secondsLeft }}s</span>
            </div>
        </div>
        <div class="validate-button-wrapper">
            <button mat-flat-button class="game-button" (click)="validateChoices()">Valider <i
                    class="fas fa-check-circle"></i></button>
            <button button mat-flat-button color="warn" class="game-button"
                (click)="openConfirmationDialog()">Abandonner</button>
        </div>
        <div class="feedback" [ngClass]="[feedbackMessageClass]">{{ feedbackMessage }}</div>
        <div *ngIf="secondsLeft === 0 && currentQuestionIndex === questions.length - 1">
            <div [@scale] class="end-game-container">LE QUIZ EST TERMINÉ. VOUS AVEZ OBTENU {{ score }} POINTS</div>
        </div>
    </div>
    <div class="right-panel">
        <div class="chat-room">
            <div class="messages-zone font-color text-centered">
                <h3>Salon de clavardage</h3>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Message</mat-label>
                <textarea matInput class="write-message" placeholder="Envoyer un message">
                </textarea>
            </mat-form-field>
        </div>
        <div class="text-centered">Votre score: {{ score }}</div>
    </div>
</div>
