<div class="bouttons-quiz">
    <button mat-fab extended color="primary" routerLink="/qcm-creation">
        <mat-icon>add</mat-icon>
        Ajouter un quiz
    </button>
    <input type="file" #fileInput style="display: none" (change)="importQuiz($event)" />
    <button mat-fab extended color="accent" (click)="fileInput.click()">
        <mat-icon>file_upload</mat-icon>
        Importer un quiz
    </button>
</div>
<div *ngFor="let quiz of quizzes" class="quizzes-container">
    <app-quiz [quiz]="quiz"></app-quiz>
</div>
