.container {
    height: auto;
    max-height: 75vh;
    width: 50vw;
    max-width: 500px;
    background-color: white;
    border-radius: 15px;
    border: 2px black solid;
    overflow: hidden;
}

.text-centered {
    display: block;
    text-align: center;
    height: fit-content;
    text-decoration: underline;
}

.title-wrapper {
    align-items: center;
    justify-content: center;
    color: var(--secondary-fg-color);
    margin-bottom: 10px;
}

.button-wrapper {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}