<div class="histogramme">
    <h3 class="question-container">{{ data.question.text }}</h3>
    <div *ngFor="let choice of data.question.choices; let i = index;" class="choice-container">
        <legend>{{ choice.text }}</legend>
        <div class="progress-container">
            <mat-progress-bar value="{{adjust(i)}}" 
                            [class.correct]="choice.isCorrect"
                            [class.incorrect]="!choice.isCorrect"></mat-progress-bar>
            <p>{{ numberOfPlayers() }}</p>
        </div>
    </div>
</div>
