mat-dialog-actions {
    justify-content: center;
    width: 100%;
    padding: 0px 24px 20px 24px;
}

.actions-wrapper {
    display: flex;
    justify-content: space-around;
    width: 33%;
}

.mat-mdc-dialog-title {
    text-align: center;
}

mat-dialog-content {
    font-size: 0.9rem!important;
    text-align: center;
}
