.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-m {
    width: 100px;
    height: 100px;
}

.logo-xl {
    width: 500px;
    height: 500px;
}

.logo:hover {
    cursor: pointer;
}
