select {
    position: absolute;
    top: 50%;
    left: 38%;
    background-color: var(--back-color);
    color : white;
    border : none;
    outline: none;
    z-index: 1;
}

img {
    display: block;
    height: 100px;
    z-index: 0;
    filter :invert(100%);

}

div {
    display: inline-block;
    position: relative; 
    justify-content: center;
    align-items: center;
    margin : 0;
}

option {
    background-color: transparent;
    border-radius: 0px;
}