<div class="container justified">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <img src="https://bit.ly/3QofL1J" alt="Logo Projet" />
    <section id="server-message" class="justified">
        <div class="justified">
            <button class="button" routerLink="/create-game">Créer une partie</button>
            <button class="button" routerLink="/game">Joindre une partie</button>
            <button class="button" routerLink="/admin">Administer les jeux</button>
            <button class="button" routerLink="/QCMCreation">QCMCreation</button>
        </div>
    </section>

    <footer class="footer-item">
        <h4 class="team-name">Équipe 206</h4>
        <p>
            <span>Loris Ponderand</span>, <span>Imed-Eddine Bennour</span>, <span>Nofissa Khaif</span>,
            <span>Romaine Brand</span>, <span>Dimitri Mansour</span>, <span>Jérémie Bolduc</span>
        </p>
    </footer>
</div>
