<div class="container justified">
    <img class="logo" src="https://imed-bennour.github.io/logo-for-game-log2990/logo.png" alt="Logo Projet" routerLink="/" />
    <section id="server-message" class="justified">
        <div class="justified">
            <button class="button" routerLink="/create-game">Créer une partie</button>
            <button class="button" (click)="joinGame()">Joindre une partie</button>
        </div>
    </section>
    <footer class="footer-item">
        <div class="trademark">
            <h4 class="team-name">Équipe 206</h4>
            <span>Loris Ponderant, Imed-Eddine Bennour, Nofissa Khaif, Romaine Brand, Dimitri Mansour, Jérémie Bolduc</span>
        </div>
        <div class="admin-container">
            <button class="button admin-button" (click)="validateAdmin()">Administrer les jeux</button>
        </div>
    </footer>
</div>
