:root {
    --back-color : #121212;
    --objet-color : aliceblue;
}

.logo {
    width: 500px;
    height: 500px;
}

.container {
    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.admin-container {
    margin-top: auto;
    margin-left: auto;
}

.button {
    width: 550px;
    height: 120px;
    padding: 8px 22px;
    border-radius: 6px;
    background-color: aliceblue;
    transition: all 0.2s ease;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}


.button:hover {
    transform: scale(0.96);
}

.button.admin-button {
    width: 200px;
    height: 80px;
    text-align: center;
}


.team-name {
    margin-top: auto;
    margin-bottom: auto;
}



.footer-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: aliceblue;
    font-weight: bold;
}

.trademark {
    display: flex;
    flex-direction: column;

}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

::ng-deep .login-failure-snackbar * {
    background-color: aliceblue !important;
}

::ng-deep .login-failure-snackbar button {
    color: var(--answer-color-blue) !important;
}

::ng-deep .login-failure-snackbar .mat-mdc-snack-bar-label {
    color: #000000 !important;
}

::ng-deep .login-failure-snackbar .mat-mdc-button-touch-target {
    height: auto !important;
}
