.chat-room {
    display: flex;
    flex-direction: column;
    height: 75%;
    border-radius: 25px;
    border: 1px solid black;
    padding: 10px;
    background-color: aliceblue;
}

.messages-zone {
    flex-grow: 1;
    padding: 10px;
}

.write-message {
    resize: none;
}

.send-button {
    color: black;
}

h3 {
    color: black;
    text-align: center;
}

#message-list li {
    color: black;
}
