.container {
    height: auto;
    max-height: 66vh;
    width: 50vw;
    max-width: 500px;
    background-color: white;
    border-radius: 5px;
    border: 2px black solid;
}

.text-centered {
    display: block;
    text-align: center;
}

.centered {
    justify-self: center;
    align-self: center;
}

.list {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 10px;
}

.drag-container {
    width: 100%;
}

.list > div {
    margin: 5px 0px;
}

.column {
    display: flex;
    flex-direction: column;
}

.scrollable {
    flex-grow: 1;
    max-height: 100%;
    overflow-y: auto;
}

.list-footer {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    height: 5vh;
    max-height: 50px;
}

.question-container {
    display: flex;
    min-height: 80px;
    height: fit-content;
    border-radius: 5px;
    width: 100%;
}

.question-body {
    position: relative;
    overflow: hidden;
    background-color: aliceblue;
    color: var(--secondary-fg-color);
    flex-grow: 1;
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 15px;
}

.question-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.column {
    display: flex;
    flex-direction: column;
}

.question-container:hover {
    .overlay {
        bottom: 0%;
    }
}

.overlay {
    position: absolute;
    background-color: #000000;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    bottom: -30px;
    z-index: 2;
    transition: all 0.5s;
}

.last-modified-wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #717171;
    font-size: 0.75rem;
    padding: 2px 8px;
    z-index: 1;
}

.last-modified-date-text {
    font-style: italic;
}

.actions {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.action-wrapper {
    position: relative;
}

.textIndex {
    color: black;
    align-self: center;
}

.action {
    position: absolute;
    height: fit-content;
    width: fit-content;
    color: white;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    font-size: 1.5rem;
    transition: all 0.3s;
}

.share-wrapper {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.action:hover {
    cursor: pointer;
}

.action.shared-active:hover {
    cursor: default;
}

.shared-active {
    color: var(--answer-color-blue);
}

.action-add {
    color: black;
    font-size: 3rem;
}

.action-edit:hover {
    color: var(--answer-color-blue);
}

.action-delete:hover {
    color: var(--answer-color-red);
}

.action-share:hover {
    color: var(--answer-color-blue);
}

.action-add:hover {
    color: var(--answer-color-green);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}