h3 {
    font-size: 20px;
    text-align: center; /* Center text inside h3 */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.waiting-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 66% 34%;
    flex-grow: 1;
}

.grid-container > * {
    margin: 15px;
}

.player-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

app-player-list {
    width: 100%;
    display: flex;
    justify-content: center;
}

app-chat-room {
    display: flex;
    justify-content: center;
}

.abandon-button {
    margin-top: 15px;
    width: fit-content;
}

.loader-wrapper {
    height: 100px;
}
