<div class="container">
    <app-nav-header [backArrow]="false"></app-nav-header>
    <div class="waiting-text">
        <h3>En attente de l'organisateur</h3>
        <div class="loader-wrapper">
            <app-loader-animation></app-loader-animation>
        </div>
    </div>
    <div class="grid-container">
        <div class="player-list-wrapper">
            <app-player-list [pin]="pin"></app-player-list>
            <button class="abandon-button" mat-raised-button color="warn" (click)="leaveGame()">Quitter</button>
        </div>
        <app-chat-room [pin]="pin"></app-chat-room>
    </div>
</div>

<div *ngIf="isStarting" class="">
    <app-timer-component></app-timer-component>
</div>
