<div class="container">
    <app-nav-header class="nav-bar" [isActive]="false" [backArrow]="false"></app-nav-header>
    <div ngClass="game-information flex-column">
        <div class="waiting-area">
            <h3>En attente de l'organisateur</h3>
            <div class="loader-wrapper">
                <app-loader-animation></app-loader-animation>
            </div>
        </div>
        <app-player-list class="players" [pin]="pin" [displayOptions]="{ waiting: true }"></app-player-list>
        <button class="leave-button" mat-raised-button color="warn" (click)="leaveGame()">Quitter</button>
    </div>
    <div class="chat-room-container flex-column">
        <app-chat-room [pin]="pin"></app-chat-room>
    </div>
</div>
