<body>
    <div class="quiz-details-dialog">
        <div class="dialog-header">
            <button mat-icon-button class="close-button" (click)="closeDialog()">
                <span class="material-icons">close</span>
            </button>
            <h2 class="title">{{ data.quiz?.title ?? 'Mode Aléatoire' }}</h2>
            <p class="estimated-time">Chronomètre: {{ data.quiz?.duration ?? '20' }} secondes par question<span
                    class="time-icon"></span></p>
            <p class="description">{{ data.quiz?.description ?? 'Un questionnaire formé de 5 questions QCM aléatoires'
                }}</p>
        </div>
        <div *ngIf="data.quiz" class="questions-box">
            <h3 class="questions-title">Liste des Questions</h3>
            <ul>
                <li *ngFor="let question of data.quiz?.questions ?? []; let i = index" class="question-item">
                    <span class="question-number"><strong>{{ i + 1 }}.</strong></span>
                    <div class="question-text-container">
                        <span class="question-text">{{ question.text }}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="dialog-footer">
            <button (click)="startGame()">Créer une partie</button>
            <button *ngIf="data.quiz" (click)="testGame()">Tester</button>
        </div>
    </div>
</body>
