<mat-expansion-panel hideToggle class="quiz-container" *ngIf="!isDeleted">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ quiz.title }}
        </mat-panel-title>
        <mat-panel-description>
            {{ quiz.lastModified.toLocaleString('fr-CA', { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) }}
        </mat-panel-description>
        <mat-slide-toggle [checked]="!quiz.isHidden" (change)="onToggleChange()">Visible</mat-slide-toggle>
    </mat-expansion-panel-header>
    <span>
        {{ quiz.description }}
    </span>

    <div class="bouttons-question">
        <button mat-fab extended color="primary" (click)="editQuiz()">
            <mat-icon>mode_edit</mat-icon>
            Modifier
        </button>
        <button mat-fab extended color="basic" (click)="exportQuiz()">
            <mat-icon>file_download</mat-icon>
            Exporter
        </button>
        <button mat-fab extended color="warn" (click)="deleteQuiz()">
            <mat-icon>delete</mat-icon>
            Suprimmer
        </button>
    </div>
</mat-expansion-panel>
