.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    display: grid;
    grid-template-columns: 66% 34%;
    flex-grow: 1;
    justify-content: center;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lock-button {
    height: 100px;
    width: 100px;
    grid-area: lock-button;
    justify-self: center;
}

.lock-icon {
    font-size: 100px;
}

.nav-header {
    grid-area: nav-header;
}

.bar-chart {
    margin: 10px;
    grid-area: bar-chart;
    justify-self: center;
}

.chat-room {
    margin: 10px;
    grid-area: chat-room;
    justify-self: center;
}

.start-button {
    grid-area: button;
    background-color: white;
}

.next-button {
    grid-area: button;
    background-color: white;
}

app-player-list {
    display: flex;
    justify-content: center;
}

app-chat-room {
    display: flex;
    justify-content: center;
}
