.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-areas: 'game-information chat-room';
    flex-grow: 1;
    justify-content: center;
}

.game-information {
    grid-area: game-information;
}

.buttons-wrapper {
    width: 100%;
    height: 100px;
    display: grid;
    align-items: center;
    grid-template-columns: 20px 100px 100px auto;
    grid-template-areas: 'end-button end-button lock-button action-button';
}

.lock-button {
    height: 75px;
    width: 75px;
    justify-self: center;
    grid-area: lock-button;
}

.lock-button.mat-mdc-raised-button.mat-unthemed {
    background-color: var(--main-bg-color);
    --mdc-protected-button-label-text-color: white;
}

.start-button {
    background-color: white;
    justify-self: right;
    margin: 20px;
}

.next-button {
    background-color: white;
    justify-self: right;
    margin: 20px;
}

.action-button {
    display: grid;
    grid-area: action-button;
}

.end-button {
    width: 75px;
    height: 75px;
    grid-area: end-button;
    margin-left: 20px;
}

.end-button.mat-mdc-raised-button.mat-unthemed {
    background-color: var(--main-bg-color);
    --mdc-protected-button-label-text-color: white;
}

.end-button.mat-mdc-raised-button.mat-unthemed:hover {
    background-color: red;
}

.icon {
    font-size: 150px;
    left: 5px;
}

.nav-header {
    grid-area: nav-header;
    padding-bottom: 20px;
}

.bar-chart {
    margin: 10px;
    grid-area: bar-chart;
    justify-self: center;
}

.chat-room {
    margin: 10px;
    margin-right: 20px;
    grid-area: chat-room;
}

.app-component {
    display: flex;
    justify-content: center;
}
