<div class="container">
    <app-nav-header class="nav-header" [backArrow]="false"></app-nav-header>
    <div *ngIf="isRunning()">
        <app-bar-chart-swiper class="bar-chart" *ngIf="isEnded" [data]="barCharts"></app-bar-chart-swiper>
        <app-bar-chart class="bar-chart" *ngIf="!isEnded" [data]="barChart"></app-bar-chart>
    </div>
    <div class="main-container">
        <app-player-list [pin]="pin" [displayOptions]="{ score:true, ban: true, quitters: true }"></app-player-list>
        <app-chat-room [pin]="pin"></app-chat-room>
    </div>
    <div class="buttons-wrapper">
        <button *ngIf="!isRunning()" class="lock-button" mat-raised-button (click)="toggleLock()">
            <mat-icon class="lock-icon" *ngIf="!isLocked()" fontIcon="lock_open"></mat-icon>
            <mat-icon class="lock-icon" *ngIf="isLocked()" fontIcon="lock"></mat-icon>
        </button>
        <button class="start-button" mat-raised-button *ngIf="isLocked()" (click)="startGame()">Commencer</button>
        <button class="next-button" mat-raised-button *ngIf="currentQuestionHasEnded" (click)="nextQuestion()">Question
            Suivante</button>
    </div>
</div>
