<div class="list-container">
    <h4>Liste des joueurs</h4>
    <div class="sort-buttons">
        <mat-button-toggle-group name="sorting">
            <mat-button-toggle value="Alphabetique" (click)="sortPlayers(playerListSortingOptions.NameAscending)"
                >Alphabetique Asc.</mat-button-toggle
            >
            <mat-button-toggle value="Pointage" (click)="sortPlayers(playerListSortingOptions.ScoreAscending)">Pointage Asc.</mat-button-toggle>
            <mat-button-toggle value="Etat" (click)="sortPlayers(playerListSortingOptions.StatusAscending)">Etat du joueurs Asc.</mat-button-toggle>
            <mat-button-toggle value="Pointage" (click)="sortPlayers(playerListSortingOptions.NameDescending)">Alphabetique Des.</mat-button-toggle>
            <mat-button-toggle value="Alphabetique" (click)="sortPlayers(playerListSortingOptions.ScoreDescending)">Pointage Des.</mat-button-toggle>
            <mat-button-toggle value="Etat" (click)="sortPlayers(playerListSortingOptions.StatusDescending)">Etat du joueurs Des.</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <mat-list>
        <mat-list-item
            *ngFor="let player of players"
            [ngClass]="{
                hidden: player.state === playerStates.Banned || (player.state === playerStates.Abandonned && !displayOptions.quitters),
                playing: player.state === playerStates.Playing,
                abandoned: player.state === playerStates.Abandonned
            }"
        >
            <div class="row-container">
                <div class="player-info-wrapper">
                    <div class="player-name" *ngIf="!player.isMuted">
                        {{ player.username }}
                    </div>
                    <div class="player-name-muted" *ngIf="player.isMuted">
                        {{ player.username }}
                    </div>
                    <div class="player-score" *ngIf="displayOptions.score">{{ player.score }} points</div>
                    <div class="player-speedAwardCount" *ngIf="displayOptions.speedAwardCount">{{ player.speedAwardCount }} bonus</div>
                </div>
                <button
                    mat-flat-button
                    color="accent"
                    (click)="mutePlayer(player)"
                    [ngClass]="{
                        hidden: !displayOptions.ban,
                        invisible: player.state !== playerStates.Playing || !displayOptions.ban
                    }"
                >
                    {{ player.isMuted ? 'Démuter' : 'Muter' }}
                </button>
                <button
                    mat-flat-button
                    color="warn"
                    (click)="banPlayer(player)"
                    [ngClass]="{
                        hidden: !displayOptions.ban,
                        invisible: player.state !== playerStates.Playing || !displayOptions.ban
                    }"
                >
                    Bannir
                </button>
            </div>
        </mat-list-item>
    </mat-list>
</div>
