<div class="list-container">
    <h1>Liste des joueurs</h1>
    <mat-list>
        <mat-list-item
            *ngFor="let player of players"
            [ngClass]="{
                banned: player.state === playerStates.Banned,
                playing: player.state === playerStates.Playing,
                abandoned: player.state === playerStates.Abandonned
            }"
        >
            <div class="player-container">
                <div class="player-name">
                    {{ player.username }}
                </div>
                <div class="player-score">
                    {{ player.score }} pts
                </div>
                <div class="player-speedAwardCount">
                    {{ player.speedAwardCount }} bonus
                </div>
                <button *ngIf="isHost && player.state === playerStates.Playing" mat-raised-button color="warn" (click)="banPlayer(player)">
                    Kick
                </button>
            </div>
        </mat-list-item>
    </mat-list>
</div>
