.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-height: 20px;
    --mdc-linear-progress-track-height: 20px !important;
    --mdc-linear-progress-track-color: none;
    width: 100%;
    transform: rotate(-90deg);
}

::ng-deep .mat-mdc-progress-bar.progress-bar-0 {
    --mdc-linear-progress-active-indicator-color: var(--answer-color-red);
    background: none;
    transform-origin: top left;
}

::ng-deep .mat-mdc-progress-bar.progress-bar-1 {
    --mdc-linear-progress-active-indicator-color: var(--answer-color-blue);
    background: none;
    transform-origin: top left;
}

::ng-deep .mat-mdc-progress-bar.progress-bar-2 {
    --mdc-linear-progress-active-indicator-color: var(--answer-color-green);
    background: none;
    transform-origin: top left;
}

::ng-deep .mat-mdc-progress-bar.progress-bar-3 {
    --mdc-linear-progress-active-indicator-color: var(--answer-color-yellow);
    background: none;
    transform-origin: top left;
}

.question-container {
    background-color: var(--answer-color-blue);
    grid-area: question;
    text-align: center;
    font-size: 100%;
}

.bar-chart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10%;
    align-items: center;
    max-width: 400px;
}

.bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.choice-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    align-items: center;
    max-width: 650px;
    padding-bottom: 8%;
}

.choice {
    margin: 8px;
}

.mat-mdc-card:not(:not([class*='choice-'])) {
    max-height: 100px;
    max-width: 300px;
}

.mat-mdc-card.choice-0 {
    --mdc-elevated-card-container-color: var(--answer-color-red);
}

.mat-mdc-card.choice-1 {
    --mdc-elevated-card-container-color: var(--answer-color-blue);
}

.mat-mdc-card.choice-2 {
    --mdc-elevated-card-container-color: var(--answer-color-green);
}

.mat-mdc-card.choice-3 {
    --mdc-elevated-card-container-color: var(--answer-color-yellow);
}

.progress-bar-container {
    margin-left: 5%;
    width: 100%;
}

.progress-container {
    width: auto;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    transform-origin: top left;
}

.id-number {
    display: grid;
    background-color: lightgray;
    height: 20px;
    width: 20px;
    align-content: center;
    justify-content: center;
}

.bar-chart {
    max-width: 1500px;
    max-height: 800px;
    grid-template-rows: auto;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 2px black solid;
    justify-content: center;
}

.choice-container legend {
    font-size: 90%;
    text-align: left;
}

.green-badge ::ng-deep .mat-badge-content {
    background-color: green !important; /* Use your desired shade of green */
}
