<h2 mat-dialog-title>{{ data.title }}</h2>
<form [formGroup]="formGroup">
    <mat-dialog-content>
        <div class="form-wrapper">
            <mat-form-field appearance="outline">
                <mat-label>Question</mat-label>
                <textarea matInput formControlName="question" value="{{ data.question.question }}">
                </textarea>
            </mat-form-field>
            <div *ngFor="let correctAnswer of answersControls; let i = index" class="answers-wrapper">
                <mat-form-field appearance="outline" class="answer">
                    <mat-label>Bonne Réponse {{ i + 1 }}</mat-label>
                    <input matInput type="text" [formControl]="correctAnswer">
                </mat-form-field>
                <div class="row-actions-wrapper">
                    <mat-icon *ngIf="answersControls.length > 1" aria-hidden="false" class="action action-remove"
                        aria-label="Retirer" fontIcon="remove" (click)="removeAnswerAt(i)"></mat-icon>
                    <mat-icon *ngIf="getChoiceCount() < maxChoiceCount" aria-hidden="false"
                        class="action action-add {{ i !== answersControls.length - 1 ? 'hidden' : '' }}"
                        aria-label="Ajouter" fontIcon="add" (click)="addAnswer()"></mat-icon>
                </div>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Nombre de points</mat-label>
                <input matInput type="number" min="10" max="100" formControlName="pointValue"
                    value="{{ data.question.pointValue }}">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions-wrapper">
            <button mat-raised-button (click)="cancel()">Annuler</button>
            <button mat-raised-button (click)="submit()">Confirmer</button>
        </div>
    </mat-dialog-actions>
</form>
