<h2 mat-dialog-title>{{ data.title }}</h2>
<form [formGroup]="formGroup">
    <mat-dialog-content>
        <div class="form-wrapper">
            <mat-form-field appearance="outline">
                <mat-label>Question</mat-label>
                <textarea matInput formControlName="question" value="{{ data.question.question }}">
                </textarea>
            </mat-form-field>

            <div cdkDropListGroup>
                <div cdkDropList [cdkDropListData]="correctAnswersControls" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let correctAnswer of correctAnswersControls; let i = index" cdkDrag class="answers-wrapper">
                        <mat-form-field appearance="outline" class="answer">
                            <mat-label>Bonne Réponse {{ i + 1 }}</mat-label>
                            <div class="flex-row">
                                <input matInput type="text" [formControl]="correctAnswer">
                                <input type="checkbox">
                            </div>
                        </mat-form-field>
                        <div class="row-actions-wrapper">
                            <mat-icon *ngIf="correctAnswersControls.length > 1" aria-hidden="false" class="action action-remove"
                                aria-label="Retirer" fontIcon="remove" (click)="removeCorrectAnswerAt(i)"></mat-icon>
                        </div>
                    </div>
                </div>
            </div>
              <mat-icon aria-hidden="false"
              class="action"
              aria-label="Ajouter" fontIcon="add" (click)="addCorrectAnswer()"></mat-icon>
            <!-- <div *ngFor="let correctAnswer of correctAnswersControls; let i = index" class="answers-wrapper">
                <mat-form-field appearance="outline" class="answer">
                    <mat-label>Bonne Réponse {{ i + 1 }}</mat-label>
                    <input matInput type="text" [formControl]="correctAnswer">
                </mat-form-field>
                <div class="row-actions-wrapper">
                    <mat-icon *ngIf="correctAnswersControls.length > 1" aria-hidden="false" class="action action-remove"
                        aria-label="Retirer" fontIcon="remove" (click)="removeCorrectAnswerAt(i)"></mat-icon>
                    <mat-icon *ngIf="getChoiceCount() < maxChoiceCount" aria-hidden="false"
                        class="action action-add {{ i !== correctAnswersControls.length - 1 ? 'hidden' : '' }}"
                        aria-label="Ajouter" fontIcon="add" (click)="addCorrectAnswer()"></mat-icon>
                </div>
            </div-->
            <div *ngFor="let incorrectAnswer of incorrectAnswersControls; let i = index" class="answers-wrapper">
                <mat-form-field appearance="outline" class="answer">
                    <mat-label>Mauvaise Réponse {{ i + 1 }}</mat-label>
                    <input matInput type="text" [formControl]="incorrectAnswer">
                </mat-form-field>
                <div class="row-actions-wrapper">
                    <mat-icon *ngIf="incorrectAnswersControls.length > 1" aria-hidden="false"
                        class="action action-remove" aria-label="Retirer" fontIcon="remove"
                        (click)="removeIncorrectAnswerAt(i)"></mat-icon>
                    <mat-icon *ngIf="getChoiceCount() < maxChoiceCount" aria-hidden="false"
                        class="action action-add {{ i !== incorrectAnswersControls.length - 1 ? 'hidden' : '' }}"
                        aria-label="Ajouter" fontIcon="add" (click)="addIncorrectAnswer()"></mat-icon>
                </div>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Nombre de points</mat-label>
                <input matInput type="number" min="10" max="100" formControlName="pointValue"
                    value="{{ data.question.pointValue }}">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions-wrapper">
            <button mat-raised-button (click)="cancel()">Annuler</button>
            <button mat-raised-button (click)="submit()">Confirmer</button>
        </div>
    </mat-dialog-actions>
</form>
