.container {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-areas:
        'nav-header'
        'main-container'
        'footer';
}
.main-container {
    grid-area: main-container;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;
    height: 100%;
}

.game-information {
    width: 100%;
    gap: 10px;
    align-content: space-evenly;
    align-items: center;
}

.chat-room {
    height: 100%;
    max-width: 400px;
}

.chart-swiper {
    min-width: 500px;
    max-width: 600px;
}

.players {
    min-width: 500px;
    max-width: 600px;
}

.nav-bar {
    grid-area: nav-header;
}

.leave-button {
    align-self: center;
    font-weight: bold;
    width: fit-content;
}

.leave-button:hover {
    transform: scale(0.96);
}

.stats-wrapper {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
