
<body>
    <form id="quiz-creation-form" class="flex-column">
        <h1 class="header-item">Build-a-Quiz</h1>
        <div id="text-editables" class="flex-row">
            <div class="flex-column">
                <textarea>
                    HIIII
                </textarea>
                <textarea>
                    HELLO
                </textarea>
            </div>
            <app-timer-dial></app-timer-dial>
        </div>
        <div id="questions-container">

        </div>
        <button type="submit" (click)="addQuestion()">addQuestion</button>
    </form>
    <app-question-list></app-question-list>

</body>
