#editable-textfields-containers {
    justify-content: space-evenly;
    
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

// .text-edit {
//     border: none;
//     background-color: var(--back-color);
//     overflow: hidden;
//     color: white;
//     size-adjust: none;
//     height: 40px;
//     margin: 2%;
//     font-size: 16px;
//     width: 100%;
// }

#description {
    overflow-y: scroll;
    resize: none;
}


#quiz-creation-page {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;


}

form {
    width: 50%;
    align-items: center;
}

#text-editables {
    width: 100%;
    justify-content : space-evenly;
}

.hidden {
    visibility: hidden;
}


