
<div id="quiz-creation-page">
    <form [formGroup]="quizForm" class="flex-column" (ngSubmit)="submitQuiz()">
        <h1 class="header-item">Build-a-Quiz</h1>
        <div id="text-editables" class="flex-row">
            <div class="flex-column">
                <input id="title" type="text" class="text-edit" placeholder="Votre titre ici" formControlName="quizTitle" required/>
                <textarea id="description" class="text-edit" placeholder="Votre description ici" formControlName="quizDescritpion" required></textarea>
            </div>
            <div id="timer">
                <img id="timer-img" src='/assets/img/timer.png' alt="timer"/>
                <input id="timer-input" type="text" placeholder="s" formControlName="answerTime" required/>
            </div>
        </div>
        <div id="questions-container" formArrayName="questions" class="flex-column">
        </div>
        <input type="submit"/>
    </form>
    <!-- <app-question-list></app-question-list> -->
    <button (click)="addQuestion()">yo</button>
</div>
<!-- <app-create-question-modal ></app-create-question-modal> -->