#editable-textfields-containers {
    justify-content: space-evenly;
    
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

textarea {
    border: none;
    background-color: var(--back-color);
    overflow: hidden;
    color: white;
    size-adjust: none;
    height: 40px;
    width: 100px;
    font-size: 16px;
}


body {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;


}

form {
    width: max-content;
}