<div id="quiz-creation-page">
    <form [formGroup]="formGroup" class="flex-column" (ngSubmit)="submitQuiz()">
        <h1 class="header-item">Build-a-Quiz</h1>
        <mat-form-field id="text-editables" class="flex-column">
            <mat-label>Titre du Quiz</mat-label>
            <input  matInput id="title" type="text" class="text-edit" placeholder="Votre titre ici" formControlName="title" required/>
        </mat-form-field>
        <mat-form-field id="text-editables" class="flex-column">
            <mat-label>Description du Quiz</mat-label>
            <textarea matInput id="description" class="text-edit" placeholder="Votre description ici" formControlName="descritpion" required></textarea>
        </mat-form-field>
        <div id="questions-container" class="flex-column">
            <app-question-list id="question-list" [questions]="questionsContainer" [interactionService]="questionInteractionService" [options]="{share: true, create: true, edit: true, delete: true, drag:true, numberOrder: true}"></app-question-list>
            <!-- <button id="add-question" (click)="addQuestion()" class="add-icon">+</button> -->
            <input type="button" (click)="addQuestion()" class="add-icon" value="+"/>
        </div>
        <input id="submit-quiz" type="submit" (click)="submitQuiz()"/>
    </form>
    <app-question-bank [options]="{share: true}"></app-question-bank>
</div>
