#editable-textfields-containers {
    justify-content: space-evenly;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

::ng-deep .add-icon {
    align-self: center;
    color: black;
    margin: 20px;
}

#questions-container {
    width : 100%;
}

#description {
    overflow-y: scroll;
    resize: none;
}


#quiz-creation-page {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#quiz-creation-page > * {
    padding: 0px 20px;
}

form {
    align-items: center;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-fg-color);
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
}

#text-editables {
    width: 100%;
    justify-content : space-evenly;
}

.hidden {
    visibility: hidden;
}

.form-wrapper {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.question-bank-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

h3 {
    margin: 15px;
}

.header {
    height: 100px;
}
