dialog {
    display: flex;
    flex-direction: column;
    justify-self: center;
    top: 50%;
    height: fit-content;
    width:fit-content;
}¸

.creation-answers-container{
    background-color: black;
}

input {
    width: 100%;
}