<dialog id="question-creation-modal">
    <h2>Créer une question</h2>
  
    <form [formGroup]="questionForm" (ngSubmit)="submitNewQuestion()">
      <label for="input-new-question">Question</label>
      <input type="text" id="input-new-question" placeholder="Votre question" formControlName="question"/>
  
      <label for="select-number-answers">Nombre de réponses</label>
      <select id="select-number-answers" formControlName="selectedNumber" (change)="setUpModal()">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
  
      <div formArrayName="answers" id="modal-answers-container" class="creation-answers-container flex-column">
        <div *ngFor="let answer of answers.controls; let i = index" [formGroupName]="i" class="flex-row">
          <p># {{ i + 1 }}</p>
          <textarea formControlName="answerText" placeholder="Votre réponse" required></textarea>
          <input type="checkbox" formControlName="isCorrect"/>
          <input type="range" formControlName="rangeValue" min="0" max="100" step="10"/>
        </div>
      </div>
      <input type="submit" id="submit-create-question" value="Submit">
    </form>
  </dialog>
  